#让GitHub 忽略一些不用上传的文件
#包括
#  .idea文件
/.idea/


#target
/target/


#src/resources/database.properties文件   src/resources/rebel.xml文件
/src/main/resources/database.properties
/src/main/resources/rebel.xml


#dx21601.iml文件
/dx21601.iml


#pom.xml文件
/pom.xml
